<!doctype html>

<html>
  <head>
    <title>Gummy image</title>
    
    <meta name="description" content="Gummy image gives you images of the size that you want" />
    <meta name="author" content="Xabier Larrakoetxea" />
    <meta name="copyright" content="Xabier Larrakoetxea 2014" />

    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/foundation.min.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans' rel='stylesheet' type='text/css'>
    
    <style>
        body{
            /*background-image:url(/public/img/bg.png);*/
            background-color: #085A78;
        }
        h1, h2, h3{
            font-family: 'Pacifico', cursive;
        }
        .center{
            padding: 10px;
            background-color: #FFFFFF;
        }
        div, img{
            padding: 5px;
        }
        footer{
            background-color: #333333;
            width: 100%;
            bottom: 0;
            position: fixed;
        }
    </style>

  </head>
  <body>
    <div class="center row">

        <h1 style="text-align: center;">Gummy image</h1>

        <img src="600x400/074E68" alt="example" style="margin: 0px auto;display:block">

        <a href="600x400/074E68"><h2 style="font-family: 'Open Sans', sans-serif;text-align: center;">http://gummyimage.com/600x400/074E68</h2>
        </a>

        <div class="row">
          <div class="small-4 large-4 columns">
                <div class="panel callout radius">
                    <h5>Size</h5>
                    <p>Regular: 800x600</p>
                    <p>Scale: 800x4:3 or 4:3x600</p>
                    <p>Aspect: VGA, PAL... (see list)</p>
                </div>
          </div>
          <div class="small-2 large-4 columns">
                <div class="panel callout radius">
                    <h5>Background Color</h5>
                    <p>Hex: 085A78</p>
                    <p>2 digits: AF (same as AFAFAF)</p>
                    <p>3 digits: 012 (same as 001122)</p>
                </div>
          </div>
          <div class="small-6 large-4 columns">
                <div class="panel callout radius">
                    <h5>Text Color</h5>
                    <p>Hex: 085A78</p>
                    <p>2 digits: AF (same as AFAFAF)</p>
                    <p>3 digits: 012 (same as 001122)</p>
                </div>
              
          </div>
        </div>

        <div class="row">
           <div class="small-4 large-4 columns">
                <div class="panel callout radius">
                    <h5>Format</h5>
                    <p>png</p>
                    <p>gif</p>
                    <p>jpg</p>
                </div>
          </div>
          <div class="small-2 large-4 columns">
                <div class="panel callout radius">
                    <h5>Text</h5>
                    <p>&text=something</p>
                </div>
          </div>
          <div class="small-6 large-4 columns">
                <div class="panel callout radius">
                    <h5>Text Color</h5>
                    <p>Hex: 085A78</p>
                    <p>2 digits: AF (same as AFAFAF)</p>
                    <p>3 digits: 012 (same as 001122)</p>
                </div>
              
          </div>
          </div>
    </div>

    <footer>
        <div class="row">
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de 
        </div>
    </footer>

  </body>
 </html>